/*

  ПРИМЕЧАНИЕ!
  Все неиспользуемые классы будут удалены перед
  финальным push

*/


/* ----- Connecting Fonts ----- */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* ----- /Connecting Fonts ----- */

/* ----- GENERAL ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  color: #333333;
  background-color: #F2F2F2;

  height: 100%;

  font-family: "PT Sans";
  font-size: 18px;
}

.page-body {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- buttons ----- */

.button {
  background-color: #756157;
  color: #ffffff;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;

  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: 0.1s ease-in;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #68A2CA;
}

.button-reset,
.button-reset:hover,
.button-reset:active,
.button-reset:focus {
  background-color: transparent;
}


.button-selected {
  background-color: #7DB54F;
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6C9E42;
}

/* ----- /buttons ----- */

/* ----- reset ----- */
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  margin: 0;
}

.paragraph {
  margin: 0;
}
/* ----- /reset ----- */

.section-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.section-title {
  color: #000000;

  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;

  margin: 0 0 20px 0;
}

.section-description {
  font-size: 22px;
  text-align: center;
  line-height: 26px;
  margin: 0;
}

.card-title {
  color: #000000;

  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  position: relative;
}

.card-title:not(.services__title) {
  margin-bottom: 60px;
}

.card-title:not(.services__title)::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-title:not(.advantages__title--large)::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.card__text {
  line-height: 21px;
}

/* ----- /GENERAL ----- */

/* ----- PAGE-HEADER ----- */
.page-header {
  position: relative;
}

.page-header__navigation {
}

.page-header__button {
  margin-left: 20px;
  padding: 8px 34px;
}

.page-header__background {
}
.page-header__background::before {
}
/* ----- /PAGE-HEADER ----- */

/* ----- Triangle (header image) ----- */

.triangle {
}

.triangle-left-side {
  position: absolute;
  bottom: 4px;
}

.triangle-right-side {
  position: absolute;
  bottom: 4px;
  right: 0;
}

.triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 57px solid #ffffff;
    border-right: 600px solid transparent;
}

.triangle-bottom-left::before {
    content: "";
    position: absolute;
    left: 250px;
    width: 0;
    height: 0;
    border-bottom: 57px solid #ffffff;
    border-right: 357px solid transparent;
}

.triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 57px solid #ffffff;
    border-left: 600px solid transparent;
}

.triangle-bottom-right::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 56px solid #ffffff;
    border-left: 350px solid transparent;
}

/* ----- /Triangle ----- */


/* ----- PAGE-MAIN ----- */
.page-main {
  flex-grow: 1;
}

.page-main__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}
/* ----- /PAGE-MAIN ----- */


/* ----- LOGO ----- */
.logo {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}

.logo__image {
  display: block;
}
/* ----- /LOGO ----- */


/* ----- NAVIGATION ----- */
.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
  min-height: 64px;
  padding: 0 70px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation__item {
  display: flex;
  align-items: center;
  height: 64px;
}

.navigation__link {
  color: #000000;

  display: block;
  padding: 20px 16px;
  text-decoration: none;
}

.navigation__link--active {
  position: relative;
}

.navigation__link--active::after {
  content: "";
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 0;

  height: 2px;

  background-color: #756257;
}

.navigation__user-menu {
}
/* ----- /NAVIGATION ----- */


/* ----- USER-MENU ----- */
.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  max-width: 322px;
}

.user-menu__item {
  min-width: 44px;
  min-height: 64px;
}

.user-menu__link {
  position: relative;
  display: grid;
  place-content: center;
  text-decoration: none;
  width: 42px;
  height: 64px;
  fill: #000000;
  background-repeat: no-repeat;
  background-position: center center;
}
/* ----- /USER-MENU ----- */


/* ----- MENU-SEARCH ----- */
.menu-search {
  background-image: url('../images/icons/search.svg');
}
/* ----- /MENU-SEARCH ----- */


/* ----- FAVORITES ----- */
.favorites {
  background-image: url('../images/icons/favorites.svg');
}

.favorites__counter {
  color: #ffffff;
  background-color: #7DB54F;

  position: absolute;
  top: 11px;
  right: 4px;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}
/* ----- /FAVORITES ----- */



/* ----- ADVANTAGES ----- */
.advantages {
}

.advantages__block {
  width: 651px;
  padding: 66px 0;
  margin-bottom: 21px;
}

.advantages__description {
}

.advantages__description {
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages__image {
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__text {
}

.advantages__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:not(.advantages__item-large):nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item-large .advantages__title{
  color: #ffffff;
}

.advantages__item-large {
  background-color: #82B3D3;
  color: #ffffff;

  grid-column: 1 / -1;
  display: flex;
}

.advantages__item-large:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages-item {
}

.advantages-item__description {
  text-align: center;
  padding: 113px 85px;
}

.advantages-item__description--large {
  padding: 104px 85px;
}


/* ----- /ADVANTAGES ----- */


/* ----- SERVICES ----- */
.services {
}

.services__block {
  width: 505px;
  padding: 64px 0;
}

.services__item {
  padding: 81px 85px;

  min-width: 400px;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center 26%;
}

.services__item--dwelling {
  background-image: url('../images/icons/house.svg');
}

.services__item--food {
  background-image: url('../images/icons/food.svg');
}

.services__item--souvenirs {
  background-image: url('../images/icons/gift.svg');
}

.services__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services__title {
  margin: 102px 0 30px 0;
}

.services__text {
  line-height: 21px;
}

.services__description {
}

.services__list {
  display: flex;
}
/* ----- /SERVICES ----- */


/* ----- SEARCH ----- */
.search {
  width: 592px;
  padding: 95px 0;
}

.search__title {
}

.search__text {
  margin-bottom: 54px;
  line-height: 26px;
}

.search__button {
  font-size: 20px;
  padding: 8px 50px;
  line-height: 36px;
}
/* ----- /SEARCH ----- */


/* ----- SUBSCRIBE ----- */
.subscribe {
  color: #ffffff;

  padding: 42px 258px 138px;

  background-color: #82B3D3;
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.subscribe-primary {
  padding-top: 98px;
  padding-bottom: 104px;
}

.subscribe__block {
  width: 684px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe__title {
  color: #ffffff;
}

.subscribe__text {
  margin-bottom: 54px;
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr 232px;
}

.subscribe__field {
}

.subscribe__button {
  font-size: 20px;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}
/* ----- /SUBSCRIBE ----- */


/* ----- FIELD ----- */
.field {
  display: flex;
}

.field__input {
  width: 100%;
  padding: 13px 20px;
  background-color: #F2F2F2;
  border: 2px solid transparent;
  font-family: inherit;
  font-size: 18px;
}
/* ----- /FIELD ----- */


/* ----- PAGE-FOOTER ----- */
.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__social {
}

.page-footer__phone {
  color: #000000;

  font-size: 40px;
  text-decoration: none;

  transition: color 0.1s ease-in;
}

.page-footer__phone:hover {
  color: #756157;
}

.page-footer__phone:focus {
  color: #756157;
}

.page-footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer__academy {

}

.page-footer__academy-logo {

}

.page-footer__academy-logo:hover {

}

.page-footer__academy-logo:active {

}
/* ----- PAGE-FOOTER ----- */


/* ----- SOCIAL ----- */
.social {
  display: flex;
}

.social__item {
  width: 47px;
  height: 40px;
}

.social__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
/* ----- /SOCIAL ----- */




/* ------------- C_A_T_A_L_O_G ------------- */



/* ----- PATH-NAVIGATION ----- */
.path-navigation {
  margin: 8px 0 0 0;
  font-size: 16px;
  display: flex;
}

.path-navigation__item {
}

.path-navigation__link {
  color: #ffffff;
  text-decoration: none;
}
/* ----- /PATH-NAVIGATION ----- */


/* ----- FILTER ----- */
.ruble {
}

.filter {
}

.filter__form {
  margin-top: 40px;
  display: flex;
  min-height: 160px;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.filter__list {
}
.filter__item {
}
.filter__price {
}
.filter__buttons {
}
.filter__button {
}
/* ----- /FILTER ----- */


/* ----- CATALOG ----- */

.catalog {
  margin: 50px 0 60px 0;
  padding: 0 70px;
}

.catalog-header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/backgrounds/main-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header__content {
  padding: 35px 70px 70px 70px;
}

.catalog__title {
  text-align: left;
  margin: 0 auto 0 0;
}

.catalog__options {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}

.catalog-sort {
  background-color: #ffffff;
  font-size: 18px;
  padding: 14px 20px;
  line-height: 117%;
}

.catalog-sort__option {
  font-size: 18px;
  padding: 14px 20px;
  line-height: 117%;
}

.catalog__view {
  margin: 0 0 0 70px;
  display: flex;
  align-items: center;
}

.catalog-view__item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center center;
}

.view-card {
  background-image: url('../images/icons/cards.svg');
}

.view-slider {
  background-image: url('../images/icons/slider.svg');
}

.view-list {
  background-image: url('../images/icons/list.svg');
}

.catalog-view__item:not(:last-child) {
  margin-right: 8px;
}

.catalog-view__item--active {
  border: 2px solid #000000;
}

.catalog-view__link {
}
.catalog__hotels-list {
}

.catalog-subscribe {
  background-image: none;
  background-color: inherit;
  color: inherit;
}

.catalog-subscribe-title {
  color: inherit;
}

.hotel-search-number {
}
/* ----- /CATALOG ----- */


/* ----- SORT----- */
.sort {
}
.sort__input {
}
.sort__name {
}
/* ----- /SORT ----- */


/* ----- PRICE ----- */
.price {
}
.price__field {
}
.price__title {
}

.price__input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.price__range-line {
}
/* ----- /PRICE ----- */


/* ----- RANGE-LINE ----- */
.range-line {
}
.range-line__toddler {
}
/* ----- /RANGE-LINE ----- */


/* ----- HOTELS-LIST ----- */
.hotels-list {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #E6E6E6;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 19px;
}

.hotels-list__item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotels-list__image {
  display: flex;
  order: -1;

  margin-bottom: 16px;
}

.hotels-list__name {
  color: #000000;

  font-weight: 700;
  font-size: 24px;
  text-decoration: none;

  margin-bottom: 15px;
}

.hotels-list__description {
}

.hotels-list-description {
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: 21px;

  margin-bottom: 16px;
}

.hotels-list-description__type {
}
.hotels-list-description__price {
}
.hotels-list__buttons {
}

.hotels-list-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hotels-list-buttons__more {
  padding: 8px 26px;
}

.hotels-list-buttons__favorite {
  padding: 8px 20px;
}

.hotels-list__ratings {
  display: flex;
  justify-content: space-between;
}

.hotels-list__rating {
  text-transform: uppercase;
  background-color: #F2F2F2;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  padding: 9px 22px 8px 23px;
  display: inline-block;
}

.hotels-list-buttons__favorite--selected {
}
/* ----- /HOTELS-LIST ----- */

/* ----- PAGINATION ----- */
.pagination {
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  max-width: 60px;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  color: #ffffff;


  display: inline-block;
  padding: 12px 17px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;

  width: 60px;
  text-align: center;
}

.pagination__link--active {
  background-color: #F2F2F2;
  color: #000000;

  text-decoration: none;
  font-weight: 700;
}

.pagination__link--next {
  background-color: #F2F2F2;
  color: #000000;

  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
}
/* ----- /PAGINATION ----- */






















