/* ----- Connecting Fonts ----- */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* ----- /Connecting Fonts ----- */

/* ----- GENERAL ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.path {
  transition: fill 0.1s ease;
}

.page {
  color: #333333;
  background-color: #F2F2F2;

  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.page-body {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- buttons ----- */

.button {
  color: #ffffff;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 4px;
  border: none;

  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.button:active {
  color: rgba(255, 255, 255, 0.30);
}

.button-primary {
  background-color: #756157;
}

.button-primary:hover,
.button-primary:focus-visible {
  background-color: #615048;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover,
.button-secondary:focus-visible {
  background-color: #68A2CA;
}

.button-selected {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.button-selected:hover,
.button-selected:focus-visible {
  background-color: #6C9E42;
}

.button-reset {
  background-color: transparent;
  transition: color 0.1s ease;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.60)
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.30)
}

.button-reset:focus-visible {
  outline: 3px solid #83B3D3;;
}

/* ----- /buttons ----- */

/* ----- reset ----- */
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  margin: 0;
}

.paragraph {
  margin: 0;
}
/* ----- /reset ----- */

.section-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.section-title {
  color: #000000;

  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;

  margin: 0 0 22px 0;
}

.section-description {
  font-size: 22px;
  text-align: center;
  line-height: 26px;
  margin: 0;
}

.card-title {
  color: #000000;

  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.card-text {
  line-height: 21px;
}

.card-title:not(.services__title) {
  margin-bottom: 31px;
}

.card-title:not(.services__title)::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 31px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-title:not(.advantages__title--large)::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.card__text {
  line-height: 21px;
}

/* ----- /GENERAL ----- */

/* ----- PAGE-HEADER ----- */
.page-header {
  position: relative;
}

.page-header__button {
  margin-left: 20px;
  padding: 8px 34px;
}

/* ----- /PAGE-HEADER ----- */

/* ----- Triangle (header image) ----- */

.triangle-left-side {
  position: absolute;
  bottom: 4px;
}

.triangle-right-side {
  position: absolute;
  bottom: 4px;
  right: 0;
}

.triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 57px solid #ffffff;
    border-right: 600px solid transparent;
}

.triangle-bottom-left::before {
    content: "";
    position: absolute;
    left: 250px;
    width: 0;
    height: 0;
    border-bottom: 57px solid #ffffff;
    border-right: 357px solid transparent;
}

.triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 57px solid #ffffff;
    border-left: 600px solid transparent;
}

.triangle-bottom-right::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 56px solid #ffffff;
    border-left: 350px solid transparent;
}

/* ----- /Triangle ----- */


/* ----- PAGE-MAIN ----- */
.page-main {
  flex-grow: 1;
}

.page-main__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}
/* ----- /PAGE-MAIN ----- */


/* ----- LOGO ----- */
.logo {
  position: relative;
  margin-bottom: -10px;
}

.logo__image {
  display: block;
}
/* ----- /LOGO ----- */


/* ----- NAVIGATION ----- */
.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
  min-height: 64px;
  padding: 0 70px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation__item {
  display: flex;
  align-items: center;
  height: 64px;
}

.navigation__link {
  color: #000000;

  display: block;
  padding: 20px 16px;
  text-decoration: none;

  transition: color 0.1s ease;
}

.navigation__link:hover:not(.navigation__link--active) {
  color: #756257;
}

.navigation__link:focus-visible {
  outline: 2px solid #756257;
  outline-offset: -2px;
}

.navigation__link--active {
  position: relative;
}

.navigation__link--active::after {
  content: "";
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 0;

  height: 2px;

  background-color: #756257;
}

/* ----- /NAVIGATION ----- */


/* ----- USER-MENU ----- */
.user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-menu__item {
  min-width: 44px;
  min-height: 64px;
}

.user-menu__link {
  position: relative;
  display: grid;
  place-content: center;
  text-decoration: none;
  width: 42px;
  height: 64px;
  fill: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.1s ease;
}

.user-menu__link:hover {
  transform: scale(1.1);
}
/* ----- /USER-MENU ----- */


/* ----- MENU-SEARCH ----- */
.menu-search {
  background-image: url('../images/icons/search.svg');
  margin-right: 2px;
}
/* ----- /MENU-SEARCH ----- */


/* ----- FAVORITES ----- */
.favorites {
  background-image: url('../images/icons/favorites.svg');
}

.favorites__counter {
  color: #ffffff;
  background-color: #7DB54F;

  position: absolute;
  top: 11px;
  right: 4px;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}
/* ----- /FAVORITES ----- */



/* ----- ADVANTAGES ----- */

.advantages__block {
  width: 651px;
  padding: 64px 0 68px;
  margin-bottom: 21px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:not(.advantages__item-large):nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item-large .advantages__title{
  color: #ffffff;
}

.advantages__item-large {
  background-color: #82B3D3;
  color: #ffffff;

  grid-column: 1 / -1;
  display: flex;
}

.advantages__item-large:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages-item__description {
  text-align: center;
  padding: 112px 85px;
}

.advantages-item__description--large {
  padding: 100px 85px;
}


/* ----- /ADVANTAGES ----- */


/* ----- SERVICES ----- */

.services__block {
  width: 505px;
  padding: 63px 0;
}

.services__item {
  padding: 81px 85px;

  min-width: 400px;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center 26%;
}

.services__item--dwelling {
  background-image: url('../images/icons/house.svg');
}

.services__item--food {
  background-image: url('../images/icons/food.svg');
}

.services__item--souvenirs {
  background-image: url('../images/icons/gift.svg');
}

.services__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services__title {
  margin: 104px 0 30px 0;
}

.services__text {
  line-height: 21px;
}

.services__list {
  display: flex;
}
/* ----- /SERVICES ----- */


/* ----- SEARCH ----- */
.search {
  width: 592px;
  padding: 95px 0;
}

.search__text {
  margin-bottom: 54px;
  line-height: 26px;
}

.search__button {
  font-size: 20px;
  padding: 8px 50px;
  line-height: 36px;
}
/* ----- /SEARCH ----- */


/* ----- SUBSCRIBE ----- */
.subscribe {
  color: #ffffff;

  padding: 42px 258px 138px;

  background-color: #82B3D3;
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.subscribe-primary {
  padding-top: 94px;
  padding-bottom: 104px;
}

.subscribe__block {
  width: 684px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe__title {
  color: #ffffff;
  margin-bottom: 24px;
}

.subscribe__text {
  margin-bottom: 54px;
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr 232px;
}

.subscribe__field .field__input  {
  border-radius: 4px 0 0 4px;
}

.subscribe__button {
  font-size: 20px;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}
/* ----- /SUBSCRIBE ----- */


/* ----- FIELD ----- */
.field {
  display: flex;
}

.field__input {
  width: 100%;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: 2px solid transparent;
  font-family: inherit;
  font-size: 18px;
  transition: all 0.1s ease;
}

.field__input:hover,
.field__input:active {
  background-color: #E6E6E6;
}

/* ----- /FIELD ----- */


/* ----- PAGE-FOOTER ----- */
.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__phone {
  color: #000000;

  font-size: 40px;
  text-decoration: none;
  margin-top: -3px;

  transition: color 0.1s ease-in;
}

.page-footer__phone:hover {
  color: #756157;
}

.page-footer__phone:focus-visible {
  color: #756157;
}

.page-footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer__academy:hover path,
.page-footer__academy:focus-visible path  {
  fill: #756157;
}

.page-footer__academy:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* ----- PAGE-FOOTER ----- */


/* ----- SOCIAL ----- */
.social {
  display: flex;
}

.social__item {
  width: 47px;
  height: 40px;
}

.social__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.social__link:hover svg path {
  fill: #68A2CA;
}

.social__link:focus-visible svg path {
  fill: #68A2CA;
}

.social__link:active svg path {
  fill: rgba(104, 162, 202, 0.3);
}



/* ----- /SOCIAL ----- */




/* ------------- C_A_T_A_L_O_G ------------- */



/* ----- PATH-NAVIGATION ----- */
.path-navigation {
  margin: 8px 0 0 0;
  font-size: 16px;
  display: flex;
}

.path-navigation__item {
  position: relative;
}

.path-navigation__item:not(:last-child) {
  margin-right: 28px;
}

.path-navigation__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  top: 6px;
  right: -18px;
  background-image: url('../images/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.path-navigation__link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.1s ease;
}

.path-navigation__link:hover,
.path-navigation__link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.path-navigation__link:focus-visible {
  outline: 1px solid #83B3D3;
}

.path-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.path-navigation__link:hover svg path,
.path-navigation__link:focus svg path {
  fill: rgba(255, 255, 255, 0.6);
}

.path-navigation__link:active svg path{
  fill: rgba(255, 255, 255, 0.3);
}

/* ----- /PATH-NAVIGATION ----- */


/* ----- FILTER ----- */

.filter__form {
  margin-top: 41px;
  display: flex;
  min-height: 160px;
}

.filter__part  {
  display: flex;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset:nth-child(1) {
  margin-right: 72px;
  max-width: 150px;
}

.filter__fieldset:nth-child(2) {
  margin-right: auto;
  max-width: 145px;
}

.filter__fieldset:nth-child(3) {
  margin-right: 70px;
}

.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 32px;
}

.filter__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter__item:not(:last-child) {
  margin-bottom: 17px;
}

.filter__input {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #ffffff;
  border: 0;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.filter__input[type="radio"] {
  border-radius: 50%;
}

.filter__input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  background-color: #3f5e72;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter__input:active,
.filter__input:active + .filter__label {
  opacity: 0.3;
}

.filter__input:hover,
.filter__input:hover + .filter__label {
  opacity: 0.6;
}

.filter__input[type="checkbox"]:checked {
  background-image: url('../images/icons/check.svg');
  background-repeat: no-repeat;
  background-position: left 4px top 6px;
  background-size: 13px 11px;
}


.filter__input:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 3px #83b3d3;
}


.filter__label {
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
  max-width: 220px;
}

.filter__button {
  padding: 8px 50px;
}

/* ----- /FILTER ----- */


/* ----- CATALOG ----- */

.catalog {
  margin: 50px 0 60px 0;
  padding: 0 70px;
}

.catalog-header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/backgrounds/main-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header__content {
  padding: 35px 70px 70px 70px;
}

.catalog__title {
  text-align: left;
  margin: 0 auto 0 0;
  max-width: 450px;
}

.catalog__options {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.catalog-sort-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
}

.catalog-sort {
  width: 100%;
  padding: 14px 35px 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url('../images/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 19px center;
  appearance: none;
  outline: none;
  transition: border 0.2s ease;
}

.catalog-sort:hover,
.catalog-sort:focus {
  border: 2px solid #68A2CA;
}

.catalog__view {
  margin: 0 0 0 70px;
  display: flex;
  align-items: center;
}

.catalog-view__item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center center;

  transition: all 0.1s ease-in;
  cursor: pointer;
}

.view-card {
  background-image: url('../images/icons/cards.svg');
}

.view-slider {
  background-image: url('../images/icons/slider.svg');
}

.view-list {
  background-image: url('../images/icons/list.svg');
}

.catalog-view__item:not(:last-child) {
  margin-right: 8px;
}

.catalog-view__item:hover,
.catalog-view__item--active {
  border: 2px solid #000000;
}

.catalog-view__link {
  width: 48px;
  height: 48px;
  display: block;
  outline: none;
}

.catalog-view__link:focus-visible {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.catalog-subscribe {
  background-image: none;
  background-color: inherit;
  color: inherit;
  padding-bottom: 105px;
}

.catalog-subscribe-title {
  color: inherit;
  margin-bottom: 23px;
}

/* ----- /CATALOG ----- */

/* ----- PRICE ----- */

.price__wrapper-inputs {
  margin-bottom: 44px;
  display: flex;
  gap: 2px;
}

.price__field {
  position: relative;
}

.price__input {
  box-sizing: border-box;
  font: inherit;
  font-weight: 700;
  padding: 13px 20px;
  width: 143px;
  border: none;
  position: relative;
  outline: none;
  transition: all 0.1s ease;
}

.price__input-min {
  border-radius: 4px 0 0 4px;
}

.price__input-max {
  border-radius: 0 4px 4px 0;
}

.price__input::-webkit-outer-spin-button,
.price__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price__input {
  appearance: none;
  -moz-appearance: textfield;
}

.price__input:hover {
  background-color: #E6E6E6;
}

.price__input:focus-visible {
  outline: 2px solid #83B3D3;
}

.price__input-value {
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  position: absolute;
  top: 13px;
  right: 20px;
}

/* ----- /PRICE ----- */


/* ----- RANGE-LINE ----- */
.range-line {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-line__wrapper {
  position: absolute;
  background-color: #ffffff;
  height: 4px;
}

.range-line__toddler {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: grab;
}

.range-line__toddler-min {
  top: -8px;
  left: 0;
}

.range-line__toddler-max {
  top: -8px;
  right: -1px;
}

/* ----- /RANGE-LINE ----- */


/* ----- HOTELS-LIST ----- */

.hotels-list {
  margin: 0 0 35px 0;
  padding: 0 0 38px 0;
  border-bottom: 1px solid #E6E6E6;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.hotels-list__item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  width: 341px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotels-list__image {
  display: flex;
  order: -1;
  transition: opacity 0.2s, transform 0.2s ease;

  margin-bottom: 15px;
}

.hotels-list__image:hover {
  transform: scale(1.03);
  opacity: 0.8;
}

.hotels-list__name {
  color: #000000;

  font-weight: 700;
  font-size: 24px;
  text-decoration: none;

  transition: color 0.1s ease;

  margin-bottom: 17px;
}

.hotels-list__name:hover {
  color: #756157;
}

.hotels-list-description {
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: 21px;

  margin-bottom: 16px;
}

.hotels-list-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hotels-list-buttons__more {
  padding: 8px 26px;
  max-width: 140px;
}

.hotels-list-buttons__favorite {
  max-width: 140px;
}

.hotels-list-buttons__favorite:not(.button-selected) {
  padding: 8px 20px;
}

.hotels-list__ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-list__rating {
  text-transform: uppercase;
  background-color: #F2F2F2;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  padding: 9px 22px 8px 23px;
  display: inline-block;
}

.hotels-list__stars {
  max-height: 37px;
}

/* ----- /HOTELS-LIST ----- */


/* ----- PAGINATION ----- */

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  max-width: 60px;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  color: #ffffff;

  display: inline-block;
  padding: 12px 17px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;

  width: 60px;
  text-align: center;
}

.pagination__link--active {
  background-color: #F2F2F2;
  color: #000000;

  text-decoration: none;
  font-weight: 700;
}

.pagination__link--next {
  background-color: #ffffff;
  color: #000000;

  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
}

.pagination__link:active {
  background-color: rgba(130, 179, 211, 1);
}
/* ----- /PAGINATION ----- */


/* ----- MODAL ----- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.2s ease-in-out;

  visibility: hidden;
  opacity: 0;
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  margin: auto;
  padding: 64px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.modal__title {
  color: #000000;
  margin: 0 0 64px 0;

  line-height: 36px;
  text-align: left;
}

.modal__close-button {
  position: absolute;
  top: 66px;
  right: 51px;

  width: 52px;
  height: 52px;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.1s ease;
}

.modal__close-button::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 14px;
  height: 14px;
  background-image: url('../images/icons/close.svg');
}

.modal__close-button:hover,
.modal__close-button:focus-visible {
  background-color: #E6E6E6;
}

.modal__close-button:active::before {
  opacity: 0.3;
}

.modal-form {
  width: 577px;
}

.field-date {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 5px;

  margin-bottom: 23px;
}

.modal-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;

  margin-right: auto;
  align-self: center;
}

.modal-form__input {
  font: inherit;

  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;

  transition: background-color 0.1s;
}

.modal-form__input:hover,
.modal-form__input:focus {
  background-color: #E6E6E6;
}

.modal-form__input-date {
  padding: 12px 20px;

  background-image: url('../images/icons/calendar.svg');
  background-repeat: no-repeat;
  background-position: center right 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  width: 440px;
  margin-left: auto;

  position: relative;
}

.modal-form__message {
  font-size: 16px;
  line-height: 21px;

  padding: 0 38px;

  grid-column: 2 / -1;
}

.modal-form__message--error {
  color: #FF5757;
}

.modal-form__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.field-counters {
  display: flex;
  gap: 46px;
  align-items: center;
}

.field-counters--info {
  gap: 85px;
}

.field-counter {
  display: flex;
  position: relative;
}

.field-сounter___content {
  max-width: 110px;
}

.field-counter__button {
  position: absolute;
  top: 8px;
  width: 30px;
  height: 34px;
  border: none;

  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  transition: opacity 0.1s;
}

.field-counter__button:disabled {
  cursor: alias;
  visibility: hidden;
}

.button-minus {
  background-image: url('../images/icons/minus.svg');
  left: 5px;
}

.button-plus {
  background-image: url('../images/icons/plus.svg');
  right: 5px;
}

.field-counter__button:hover,
.field-counter__button:focus-visible {
  opacity: 1;
}

.field-counter__button:active {
  opacity: 0.2;
}

.field-counter__input {
  font: inherit;
  font-weight: 700;
  text-align: center;

  padding: 12px 40px;
  width: 110px;

  outline: none;
  border: none;
  border-radius: 4px;

  background-color: #F2F2F2;
}

.field-counter__input::-webkit-outer-spin-button,
.field-counter__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-form__button {
  padding: 18px 77px;
  border-radius: 10px;
  width: 100%;

  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* ----- MODAL ----- */


/* ----- TOOLTIP ----- */

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -2px;
  margin-left: 11px;
}

.tooltip__toggle {
  border: none;
  margin: 0 0 0 0;
  padding: 0;
  background-color: transparent;
  display: block;
}

.tooltip__icon {
  width: 100%;
  height: 100%;
}

.tooltip__text {
  display: block;
  width: 256px;
  position: absolute;

  top: 39px;
  right: -115px;
  z-index: 1;

  color: #ffffff;
  background-color: #333333;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);

  font-size: 16px;
  line-height: 20px;

  border-radius: 10px;
  padding: 20px 18px 22px 22px;

  display: none;
}

.tooltip__text::before {
  content: "";
  position: absolute;

  width: 0;
  height: 0;

  top: -8px;
  left: 50%;
  transform: translateX(-50%);

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333333;
}

.tooltip__toggle:hover + .tooltip__text,
.tooltip__toggle:focus + .tooltip__text {
  display: block;
}

/* ----- /TOOLTIP ----- */

.control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control:hover {
  color: #333333;
}

.control-input[type="checkbox"] {
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked {
  background-image: url('../images/icons/check.svg');
  background-repeat: no-repeat;
  background-position: center top 5px;
  background-size: 13px 10px;
}
